/* Header básico */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(40, 167, 69, 0.7); /* Fondo por defecto */
  color: white;
  z-index: 10;
  padding: 1rem;
  transition: background-color 0.3s;
}

/* Estilo específico para la página de servicios */
.headerServices {
  background-color: var(--primary-color); /* Verde sólido */
  color: var(--secondary-color); /* Blanco */
  position: relative;
}

/* Estilos para el contenedor */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

/* Logo y texto */
.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 0.5rem;
}

.companyName {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}

/* Navegación */
.nav {
  display: flex;
  gap: 1rem;
}

.navLink {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navLink:hover {
  text-decoration: underline;
  color: #ffd700;
}

/* Menú hamburguesa */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  cursor: pointer;
}

.hamburger div {
  background-color: white;
  height: 3px;
  border-radius: 5px;
  transition: 0.3s;
}

/* Menú desplegable para hamburguesa */
.nav.open {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(40, 167, 69, 1); /* Fondo sólido */
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 1.2rem;
  z-index: 20;
}

/* Botón para cerrar el menú */
.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  z-index: 21;
  display: none;
}

.logoLink {
  display: flex; /* Para alinear el logo y el texto */
  align-items: center; /* Alineación vertical */
  text-decoration: none; /* Quita el subrayado del enlace */
  color: white; /* Define el color del texto del enlace. Cambia #333 por el color que desees. */
  /* Podrías usar var(--tu-variable-de-color-principal) si usas variables CSS */
}

.nav.open .closeButton {
  display: block;
}

/* Responsive */
@media (max-width: 768px) {
  .nav {
    display: none;
  }

  .hamburger {
    display: flex;
  }
}
