.footer {
    background-color: var(--primary-color); /* Usa el verde principal */
    padding: 1rem;
    color: var(--secondary-color); /* Blanco */
    text-align: center;
  }
  
  .footerText {
    margin: 0;
    font-size: 0.875rem;
  }
  